/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.leagues{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 5% auto;
  justify-content: center;
  gap: 80px;
  
}
a img{
    height: 125px;
    width: auto;
    border: none;
    border-radius: 20px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: sans-serif;
  color: black;
}

.indexh1{
  color: white;
}

body > a{
  margin-left: 200px;
}
select{
  margin-left: 45px;
}

img {
  display: none;
}

img[src] {
  display: inline-block;
}

select{
  background-color: #ebe9e6;
}

/******************************************
/* Table Style
/*******************************************/

table.GeneratedTable {
  margin: 10px auto 100px auto;
  width: 70%;
  background-color: #ebe9e6;
  border-collapse: collapse;
  /* border-width: 1px; */
  /* border-color: #cfcfcf; */
  /* border-style: solid; */
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-bottom: 0.1px solid #d0d0d0;
  padding: 10px;
  line-height: 1em;
}

table.GeneratedTable thead {
  background-color: #ebe9e6;
  text-align: left;
}

/******************************************
/* Hidden Leagues
/*******************************************/

.nodisplay{
  display: none;
}

/******************************************
/* Team Emblem Size
/*******************************************/

td:nth-child(2) img{
  width: 5%; 
}


/******************************************
/* Backgrounds
/*******************************************/

.mainbg{
  background: no-repeat center url('assets/main-bg.jpg');
}

.bg{
  background-color: #ebe9e6;
}